.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 700px;
  max-width: 400px;
  background: $color-white;
  padding-top: 18px;
  padding-bottom: 32px;
  transition: transform 0.5s;
  transform: translateX(-100%);
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
                16px 0px 52px rgba(14, 24, 80, 0.2);


  @media (min-width: $tablet) {
    width: 320px;
    min-height: 1000px;
    flex-shrink: 0;
  }

  @media (min-width: $dekstop) {
    transform: none;
  }

  &--open {
    z-index: 2;
    transform: translateX(0);
    overflow-y: scroll;
    min-height: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  &__close {
    @media (min-width: $dekstop) {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;
    margin-left: 17px;

    @media (min-width: $dekstop) {
      margin-left: 0px;
    }
  }

  &__navigation {
    margin-bottom: 28px;

    @media (min-width: $tablet) {
      margin-bottom: 270px;
    }
  }

  &__footer {
    padding-left: 24px;
  }

  &__contact {
    margin-bottom: 16px;
  }

  &__adress {
    margin-bottom: 8px;

    @media (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }
}


