$dekstop: '1200px';
$tablet: '768px';
$font-family: 'TT Lakes', sans-serif;
$color-dark: #1B1C21;
$color-medium: #7E7E82;
$color-light: #B5B6BC;
$color-border: #EAEAEA;
$color-company: #FF3E79;
$color-support: #B8FFEC;
$color-background: #F8F8F8;
$color-white: white;

